.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_image {
    max-height: 60vmin;
    margin-right: 5px;
    border-radius: 5px;
}

.contents {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 1100px;
    margin-top: 25px;
    padding: 25px;
    border-style: solid;
    box-shadow: 7px 7px 2px 1px;
}

.description {
    padding: 25px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 10px;
}

.description h1 {
    font-size: 45px;
    line-height: 50px;
}

.description p {
    font-size: 16px;
    line-height: 30px;
}

.highlight {
    font-weight: bold;
}

.description span {
    text-decoration: line-through;
}