$font-stack: 'Fira Sans', sans-serif;
$primary-color: #a9c4c0;
$secondary-color: #3f4f4c;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents {
    display: flex;
    flex-direction: row;
    // flex-flow: wrap;
    justify-content: center;
    align-items: center;
    max-width: 65vw;
    // margin-left: 25px;
    // margin-right: 25px;
    margin-top: 25px;
    padding: 25px;
    border-style: solid;
    box-shadow: 7px 7px 2px 1px;

    .header_image {
        max-height: 60vmin;
        margin-right: 5px;
        border-radius: 5px;
    }

    .horizontal_image {
        max-height: 40vmin;
    }
}

.description {
    padding: 5%;
    // max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 10px;

    h1 {
        font-size: 5vmin;
        line-height: 50px; 
    }

    p {
        font-size: 1.75vmin;
        line-height: 30px;
    }

    span {
        text-decoration: line-through;
    }
}

a {
    text-decoration: none;
    color: $secondary-color;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}