.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_image {
    max-height: 60vmin;
    margin-right: 5px;
    border-radius: 5px;
}

.horizontal_image {
    max-height: 40vmin;
}

.contents {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    max-width: 65vw;
    margin-top: 25px;
    padding: 25px;
    border-style: solid;
    box-shadow: 7px 7px 2px 1px;
}

.description {
    padding: 5%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 10px;

    h1 {
        font-size: 5vmin;
        line-height: 50px; 
    }

    p {
        font-size: 1.75vmin;
        line-height: 30px;
    }

    span {
        text-decoration: line-through;
    }
}

.highlight {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}