.home-container {
    flex-flow: column;
}

.portraitContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.eyeCatcherPortrait {
    align-items: center;
    line-height: 2vmin;
    width: 100vw;
    padding-left: 7vmin;
    padding-right: 7vmin;
}

.eyeCatcherPortrait h1 {
    font-size: 10vmin;
    font-weight: 500;
}

.eyeCatcherPortrait h2 {
    font-size: 4vmin;
    font-weight: 400;
}

.eyeCatcherLandscape {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
}

.eyeCatcherTextLandscape {
    align-items: center;
}

.eyeCatcherTextLandscape h1 {
    font-size: 8.75vmin;
    font-weight: 500;
    line-height: 73px;
    margin-bottom: 15px;
}

.eyeCatcherTextLandscape h2 {
    font-size: 3vmin;
    font-weight: 400;
    line-height: 32px;  
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.projects header {
    padding: 50px;
}

.eyeCatcherLandscape img {
    margin-top: 10px;
    max-height: 40vmin;
}

.eyeCatcherPortrait img {
    margin-top: 10px;
    max-height: 40vmin;
}