.portraitContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.eyeCatcherPortrait {
    align-items: center;
    line-height: 15px;
}

.eyeCatcherPortrait h1 {
    font-size: 9vw;
    font-weight: 500;
}

.eyeCatcherPortrait h2 {
    font-size: 4vw;
    font-weight: 400;
}

.landscapeContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.eyeCatcherLandscape {
    align-items: center;
    line-height: 10px;  
}

.eyeCatcherLandscape h1 {
    font-size: 5vw;
    font-weight: 500;
}

.eyeCatcherLandscape h2 {
    font-size: 2vw;
    font-weight: 400;
}

img {
    max-height: 400px;
}