.Toolbar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100vw;
  max-width: 100%;
  /* box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.164); */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  font: 25px Inconsolata, monospace;
  color: black;
  background-color: white;
}

.title {
  display: flex;
  width: 300px;
  justify-content: center;
  /* background-color: red; */
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  /* background-color: red; */
}

@media (prefers-reduced-motion: no-preference) {
  .blink {
    animation: blink infinite 1.5s linear;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}