.project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 65vw;
    margin-top: 25px;
    padding: 25px;
    border-style: solid;
    box-shadow: 7px 7px 2px 1px;
}

.header_image {
    max-height: 60vmin;
    margin-right: 5px;
    border-radius: 5px;
}

.project-description {
    padding: 5%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* line-height: 10px; */
}

.project-description h1 {
    font-size: 45px;
    line-height: 50px;
}

.project-description p {
    font-size: 16px;
    line-height: 30px;
}

.project-description span {
    font-weight: bold;
}

.project-description h3 {
    font-weight: 500;
}